---
---

@import "minima";

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    color: #383838;
}
audio {
    width: 100%;
    display: block;
}
audio::-webkit-media-controls-panel {
    background-color: #333;
    border-radius: 10px;
    padding: 10px;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-mute-button {
    color: #fff;
}

audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
    color: #fff;
}

audio::-webkit-media-controls-volume-slider {
    background-color: transparent;
}

audio::-webkit-media-controls-seek-back-button,
audio::-webkit-media-controls-seek-forward-button {
    color: #fff;
}

audio::-webkit-media-controls-volume-slider-container,
audio::-webkit-media-controls-volume-slider-thumb {
    background-color: #fff;
}